/**
 * Provides basic styles for toolkit related views and panels
 * @file accuray_marketing_toolkit.css
 */
 
/***************************************************
 *                      Views
 ***************************************************/ 
 
 
/**
 * Marketing toolkit overview
 */ 
.view-MarketingToolkitOverview .field-content h3 /* titles in term descriptions */ {
  display: inline;
  font-size: 100%;
  font-weight: bold;
}
  