/*fixes distance betweent bottom of slides and top of triptych */
#content-area #panel-page-home .panels-flexible-row-inside.panels-flexible-row-inside-last .panels-flexible-region {margin-top:3px; }

/*fixes problem of text appearing on submit button in header area*/
#header #search-block-form input#edit-submit {overflow: hidden;text-indent: -999px;line-height: 0;margin-right:-7px;}

/*fixing problem of background image appearing where it shouldn't*/
#header {margin-top:0px;}
#page-wrapper {margin-top:20px;}

.view-Slideshow .view-content {
  /*margin-bottom: -1.7em;*/
}

.views_slideshow_singleframe_pager {
  /*bottom: 2em;*/
}

#header #block-menu-secondary-links {
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 97%;
}