/* Fixing Header Spacing issues */
.addthis_toolbox.addthis_default_style {
  margin-right: 20px;
}

#mini-panel-header ul.menu li {
  margin-right: 0;
}

#mini-panel-header ul.menu li.leaf.last {
  margin-right: 20px;
}

/* Remove border on home page - issue #754 */
.front #content .section {
  border: none;
}