/**
 * @file
 * Views Styling
 */

/**
 * Generic styles
 */
.views-exposed-form .views-exposed-widget .form-submit {
  margin-top: 1.3em;
}

.view-content .item-list li {
  margin-bottom: 1em;
}
.views-field-title a {
  color: #407FBC;
}

/**
 * Styling for hierarchical browsing
 */ 
.view-id-VocabularyOverview .views-row {
  margin-bottom: 1em;
}

.view-id-VocabularyOverview h3,
.view-id-TermBrowsing h3 {
  margin: 0 0 0.25em 0;
  font-size: 100%;
  font-weight: bold;
}

.view-id-VocabularyOverview p {
  display: inline;
}

.view-id-VocabularyOverview .item-list .item-list h3,
.view-id-LineageNestedList .item-list .item-list h3 {
  float: none;
}

.view-id-VocabularyOverview .item-list ul,
.view-id-LineageNestedList .item-list ul {
  padding: 0;
  margin-top: 0;
}

.view-id-VocabularyOverview .item-list ul li,
.view-id-LineageNestedList .item-list ul li {
  list-style: outside none;
}

.view-id-VocabularyOverview .item-list .item-list,
.view-id-LineageNestedList .item-list .item-list {
}

.view-id-VocabularyOverview .item-list ul li li,
.view-id-LineageNestedList .item-list ul li li {
}

.view-id-VocabularyOverview .item-list ul li .buildmode-teaser,
.view-id-LineageNestedList .item-list ul li .buildmode-teaser {
  margin-top: 1em;
  clear: left;
}

.view-Slideshow .view-content {
  position: relative;
}

.views_slideshow_singleframe_slide {
  /*position: relative !important; /* in IE, the absolute positioning provided by the module caused containing divs to collapse */
}

.views-slideshow-controls-bottom {

    margin-top: -2em;
    position: relative;
    z-index: 5;

}
.views_slideshow_singleframe_pager {
  /*position: absolute;
  bottom: 4em;
  left: 10px;
  margin-bottom: -2em;
  overflow: visible;
  z-index: 9999;
  /*padding: 10px;*/
}

.views_slideshow_singleframe_pager a {
  display: block;
  float: left;
  margin-right: 3px;
  padding: 2px 4px;
  background: #a6b2c0;
  color: #fff;
  font-weight: normal;
  text-decoration: none;
  opacity: 0.8;
}

.views-slideshow_singleframe_pager .activeSlide a,
.views-slideshow_singleframe_pager a:hover {
  background: #c6cbcf;
}